
 html, body {
    max-width: 100%;
    overflow-x: hidden;
	}
body
{
	background-color: #f5f5f5;
} 


/*Navigation Bar*/
.navbar-inverse
{
	background-color: #08538a;
	height:50px;
}

ul.navbar-nav>li
{
	height:48px;
}
ul.navbar-nav>li>a>strong
{
padding:8px 10px;
text-decoration:none;
text-align:center;
color:white;
} 

ul.navbar-nav>li>ul.dropdown
{
	 /* Set width of the dropdown */
        background-color: #0f3b56;
        display: none;
        position: absolute;
        z-index: 999;
        /*left: 0;*/
		width:180px;
		margin-top:-2px;
		border-radius:0px 0px 10px 10px;
		height:90px;
}



ul.navbar-nav>li>ul.dropdown>li>a
{
	color:white;
	text-decoration:none;
	margin-left:10px;
	display:block;
		height:30px;
	width:150px;
	padding-top:4px;
}

#b1
{
	margin-top:13px;
}
ul.navbar-nav>li>ul.dropdown>li:hover{
	background-color:#08538a;
}

ul.navbar-nav>li:hover>ul.dropdown{
	display:block;
}

ul.navbar-nav>li>ul.dropdown>li
{
	/*display:inline-block;*/
	height:30px;
	width:100%;
	margin-left:-25px;
	width:150px;
	
}

/*ul.navbar-nav>li>a>strong:hover
{
	display:inline-block;
padding:8px 10px;

background-color:#0f3b56;
color:white;
text-decoration:none;
text-align:center;
border-radius:5px;
margin-top:-8px;
margin-bottom:-4px;
}*/

ul.navbar-nav>li:hover{
	background-color:#0f3b56;
}

/*Home Page*/
	
	
.carousel-inner > .item > img,
.carousel-inner > .item > a > img
 {
      width: 75%;
      margin: auto;
 }
 

#row1
{
	background-color:#F5F5F5;
}

#row1>.col-md-10
{
	margin-left:20%;
}

#row1>.col-md-10>h2
{
	color:#365899;
	text-shadow: 3px 3px 10px #aaa;
}

#intro>p
{
	color:black;
	font-size:16px;
	font-weight:normal;
	
}

#intro>p>a
{
	text-decoration:none;
}
  
#intro>p>a:visited
{
	color:#337ab7;
}

#intro>p>a:hover
{
	color:blue;
}
  
#list>li
{
	color:black;
	font-size:16px;
	font-weight:lighter;	
}

div.row>div.col-md-2>a:hover
{
text-decoration:none;
color:black;
}


/*General Info page*/



ul.nav-pills>li>a
{
font-weight:lighter;
text-align:left;
background-color:#e5e4e2;
color:#365899;
}

ul.nav-pills>li>a:hover
{
color:#e5e4e2;
background-color:#08538a;
}

.col-md-3>#p2
{
	
	text-align:left;
	font-size:14px;
	font-weight:lighter;
}

h3>a
{
color:#365899;
}

.col-md-3>ul.nav-pills>li.active>a
{
	color:#e5e4e2;
	background-color:#08538a;
}

div.col-md-9>h3>a:hover
{
	text-decoration:none;
}



hr 
{ 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}


/*research*/
.box
{
	    box-shadow: 0 2px 2px 0;
		margin: 20px 0;
		background-color: #f1f1f1;
		padding: 0.01em 16px;
}

tbody>tr>td
{
	font-weight:lighter;
}
/*footer*/

#footer
{
	background-color: #0f3b56;
	bottom:0;
	position:relative;
	min-width:100%;
	margin-top:70px;
}



#footer>div.col-md-3>#p1
{
	
	text-align:left;
	color:white;
}

#footer>div.col-md-3>#p2
{
	color:#9d9d9d;
	text-align:left;
	font-size:12px;
	font-weight:lighter;
}

#footer>div.col-md-3>a:hover{
	text-decoration:none;
}


@media only screen and (max-device-width:800px)
{
	 h2>#cent{
		margin-left:-200px;
	}
}

@media only screen and (max-device-width:800px)
{
	h2>#image{
		margin-right:0px;
	}
}


#cent{
		margin-left:-80px;
	}
	
#image{
		margin-right:200px;
	}	






  